
body{
    background-color: grey;
}

#container{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16,1fr);
    width: 960px;
    height: 960px; 
    

}
.grid{
    border: 1px solid black; 
    max-height: 100%;
    max-width: 100%;
}
.red{
    border-color: red;
    background-color: rgb(0, 0, 0);
}