
body{
    background-color: grey;
}

#container{
    display: grid;
    width: 960px;
    height: 960px;
    margin: auto;
}
.grid{
    border: 1px solid black; 
    max-height: 100%;
    max-width: 100%;
}
.red{
    border-color: red;
    background-color: rgb(0, 0, 0);
}
#functionBar{
   text-align: center;
   width: 960px;
   margin: 15px auto;
}